.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 35rem;
    background-color: var(--white);
    border-radius: var(--card-border-radius);
    padding: 2rem 2rem;
}
