.advertisement {
    display: flex;
    height: 8rem;
    width: 100%;
    border-bottom: 1px solid var(--shade-color);
}

.advertisement-info {
    display: flex;
    height: 100%;
    width: 50%;
}

.advertisement-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    padding-left: 1rem;
}

.bold {
    font-weight: var(--font-weight-bold);
}

.image-wrapper {
    width: 15rem;
    height: 100%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    padding: 0 4rem;
    gap: 1rem;
}

.button {
    padding: 5px;
    border: none;
    border-radius: var(--button-border-radius);
    background-color: var(--primary-bg-color);
    font-size: var(--font-size);
    cursor: pointer;
    width: 15rem;
}
