@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* colors */
    --primary-bg-color: hsl(178, 93%, 39%);
    --secondary-bg-color: hsl(178, 58%, 52%);
    --tertiary-bg-color: hsl(179, 59%, 63%);
    --primary-error-color: hsl(358, 93%, 39%);

    --white: hsl(0, 0%, 100%);
    --shade-color: #00000033;

    /* shades */
    --card-shade: 1px 1px 5px var(--shade-color);

    /* borders */
    --card-border-radius: 8px;
    --button-border-radius: 5px;
    --input-border-radius: 2px;

    /* font sizes */
    --title-font-size: 2.5rem;
    --text-font-size: 1rem;

    /* font weights */
    --font-weight-bold: 600;

    /* input padding */
    --input-padding: 4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html,
body {
    height: 100vh;
    max-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}
