.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.advertisements {
    width: 90%;
    height: 80%;
    box-shadow: var(--card-shade);
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.advertisements-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
