.wrapper {
    display: flex;
    justify-self: center;
    align-items: end;
    height: 100%;
    width: 100%;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    padding-bottom: 2rem;
}