.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.field-info {
    font-weight: var(--font-weight-bold);
}

.field >>> input[type="text"],
.field >>> input[type="number"],
.field >>> select,
.field >>> textarea {
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: none;
    box-shadow: var(--card-shade);
    resize: none;
}

.field >>> input[type="file"] {
    font-size: var(--font-size);
    cursor: pointer;
}

.field >>> input[type="file"]::file-selector-button {
    height: 2rem;
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
}
