<div>
    <h2>Confira todos os itens</h2>
    @if (itemsPage() === null) {
        <p>Carregando items...</p>
    } @else {
        <ul>
            @for (item of itemsPage()?.content; track item.id) {
                <li>
                    <span>{{ item.name }}</span>
                    <div>
                        <button (click)="showEditItemModal(item)">Editar</button>
                        <button (click)="removeItem(item)">Remover</button>
                    </div>
                </li>
            }
        </ul>
    }
</div>
<app-modal [opened]="editItemModalIsOpen()">
    <form>
        <app-field label="Nome do item">
            <input type="text" />
        </app-field>
    </form>
</app-modal>
