<div>
    <div>
        <h2>Confira todos os itens</h2>
        <button (click)="openCreateItemModal()">Criar novo item</button>
    </div>
    @if (itemsPage() === null) {
        <p>Carregando items...</p>
    } @else {
        <ul>
            @for (item of itemsPage()?.content; track item.id) {
                <li>
                    <span>{{ item.name }}</span>
                    <div>
                        <button (click)="removeItem(item)">Remover</button>
                    </div>
                </li>
            }
        </ul>
    }
</div>
<app-modal [opened]="createItemModalIsOpen()">
    <app-create-item-form (createItem)="createItem($event)"></app-create-item-form>
</app-modal>
