.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.advertisement {
    display: flex;
    height: 35rem;
    width: 60rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shade);
}

.advertisement-info {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.title,
.description {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--shade-color);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.offer-button {
    background-color: var(--primary-bg-color);
    border: none;
    font-size: var(--font-size);
    border-radius: var(--button-border-radius);
    margin-top: auto;
    height: 2rem;
    cursor: pointer;
}
