.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 10%;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.content {
    height: 100%;
    width: 100%;
    box-shadow: var(--card-shade);
    border-radius: var(--card-border-radius);
}

.cards {
    display: flex;
    flex-direction: column;
}
